.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: #000;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title-section {
  margin: 0 0 40px;
  color: $main-second-color;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  span {
    color: #ffffff;
  }
}

.nav-blur-style {
  padding: 12px;
  background: rgba(65, 65, 65, 0.30);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 1000px;
}

.content-style {
  position: relative;
  padding: 20px;
  background: linear-gradient(to right, transparent, $main-second-color, transparent);
  border: 1px solid transparent;
  border-radius: 12px;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray-bg);
    border-radius: 12px;
    z-index: -1;
  }
}

.btn {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none !important;
  border-radius: 100px;
  padding: 13px 38px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  svg {
    width: 0;
    height: 24px;
    fill: var(--white);
    transition: $transition-base;
  }

  &-lg {
    padding: 24px;
  }

  &-primary {
    background: $main-second-color;
    color: var(--white);

    &:focus,
    &:hover {
      background: #f79a00;
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active {
      background: #f79a00;
      box-shadow: none;
    }
  }

  &:hover {
    svg {
      width: 24px;
      margin-left: 16px;
    }
  }
}

form {
  .input-label {
    display: block;
    margin: 4px 0;
    color: #8b8c8e;
  }

  .form-group {
    margin: 0 0 10px;
  }

  .form-control {
    height: 68px;
    padding: 16px;
    background: #242529;
    border: none;

    &:focus {
      background: var(--white);
      box-shadow: inset 0 -4px 0 0 #8B8C8E;
    }

    &:not(:placeholder-shown) {
      background: var(--white);
      box-shadow: inset 0 -4px 0 0 #8B8C8E;
    }

    &.access {
      &:not(:placeholder-shown) {
        background: var(--white);
        box-shadow: inset 0 -4px 0 0 #3EB94A;
      }
    }

    &.error {
      &:not(:placeholder-shown) {
        background: var(--white);
        box-shadow: inset 0 -4px 0 0 #F84A24;
      }
    }
  }

  .form-text {
    margin: 0 0 20px;
  }

  textarea {
    min-height: 60px;
    max-height: 250px;
  }

  a {
    color: $main-second-color;
  }
}

input {
  &[type="checkbox"] {
    display: none !important;

    & ~ .checkbox {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;

      .checkbox {
        &__style {
          flex: 0 0 auto;
          position: relative;
          width: 20px;
          height: 20px;
          margin-right: 14px;
          border: 1px solid #8B8C8E;
          border-radius: 4px;
          cursor: pointer;
          transition: $transition-base;

          svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            fill: var(--white);
            transform: translate(-50%, -50%) scale(0);
            transition: $transition-base;
          }
        }

        &__text {
          font-size: 16px;
          line-height: 1;
          user-select: none;
        }
      }
    }

    &:checked {
      & ~ .checkbox {
        .checkbox {
          &__style {
            svg {
              transform: translate(-50%, -50%) scale(1);
            }
          }
        }

        &_toggle {
          .checkbox__style {
            background: #1b1b1b;

            &::after {
              left: calc(100% - 27px);
              background: #fff;
            }
          }
        }
      }
    }
  }
}

.iti {
  width: 100%;

  &__flag-container {
  }

  &__selected-flag {
  }

  &__flag {
    &.iti__al {
    }
  }

  &__selected-dial-code {
    color: #545559;
  }

  &__arrow {
  }

  &__country-list {
    background: #242529;
    border: none;
    overflow-y: auto;
  }

  &__country {
    &.iti__highlight {
    }
  }

  input {

  }
}

.select2 {
  &-container {
    width: 100% !important;

    .select2 {
      &-selection--single {
        width: 100%;
        height: 68px;
        background: #242529;

        .select2-selection {
          &__rendered {
            padding: 18px 40px 18px 20px;
          }

          &__arrow {
            b {}
          }
        }
      }
    }

    &--default {
      .select2 {
        &-selection--single {
          border: 1px solid #46474B;
          border-radius: 4px;

          .select2-selection {
            &__rendered {
              color: #5d5e61;
              font-family: $font-family-base;
              font-weight: 400;
              line-height: 33px;
            }

            &__arrow {
              right: 10px;
              height: 100%;

              b {}
            }
          }
        }

        &-container--open {
          &.select2-container {
            &--below {
              .select2-selection {
                &--single {
                  border-radius: 4px 4px 0 0;
                }
              }
            }

            &--above {
              .select2-selection {
                &--single {
                  border-radius: 0 0 4px 4px;
                }
              }
            }
          }
        }

        &-results {
          &__options {

          }

          &__option {
            &--selected {
              background: #222327;
            }

            &--highlighted {
              &.select2-results__option--selectable {
                background: #18191e;
              }
            }
          }
        }
      }

      /* Animations */
      @keyframes bottomBounce {
        from {
          bottom: 0;
        }
        to {
          bottom: 20px;
        }
      }
    }
  }

  &-dropdown {
    background: #242529;
    border-color: #46474b;
  }
}