.main-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;

  min-width: 320px;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  padding: 0;
  position: relative;
}

.row {
  &:after {
    display: none;
  }

  &.clearfix:after {
    display: block;
  }
}

.section {
  position: relative;
}

.section-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  &:after {
    content: '';
    @extend .section-bg;
    opacity: .25;
    //background: #000;
    z-index: 0;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.title-section {
  margin: 0 0 40px;
  color: $main-second-color;
  font-size: 56px;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;

  span {
    color: #ffffff;
  }
}

.nav-blur-style {
  padding: 12px;
  background: rgba(65, 65, 65, 0.30);
  backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.20);
  border-radius: 1000px;
}

.content-style {
  position: relative;
  padding: 40px;
  background: linear-gradient(to right, transparent, $main-second-color, transparent);
  border: 1px solid transparent;
  border-radius: 12px;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gray-bg);
    border-radius: 12px;
    z-index: -1;
  }
}

.btn {
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  border: none;
  border-radius: 100px;
  padding: 13px 38px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &-lg {
    padding: 24px 32px;
  }

  &-primary {
    background: $main-second-color;
    color: var(--white);

    &:hover {
      background: #f79a00;
    }
  }
}

form {
  .form-control {
    height: auto;
    padding: 16px;
    background: #242529;
    border: none;

    &:focus {
      background: var(--white);
      box-shadow: inset 0 -4px 0 0 #8B8C8E;
    }

    &:not(:placeholder-shown) {
      background: var(--white);
      box-shadow: inset 0 -4px 0 0 #8B8C8E;
    }

    &.access {
      &:not(:placeholder-shown) {
        background: var(--white);
        box-shadow: inset 0 -4px 0 0 #3EB94A;
      }
    }
    &.error {
      &:not(:placeholder-shown) {
        background: var(--white);
        box-shadow: inset 0 -4px 0 0 #F84A24;
      }
    }
  }

  textarea {
    min-height: 60px;
    max-height: 250px;
  }
}

/* Animations */
@keyframes bottomBounce {
  from {
    bottom: 0;
  }
  to {
    bottom: 20px;
  }
}