:root {
  --black: #000;
  --white: #fff;
  --gold: #F5B832;
  --blue: #050049;
  --black-bg: #0c0d12;
  --gray-bg: #18191E;
}

// main colors
$main-first-color: #7a0000;
$main-second-color: var(--gold);
$main-third-color: var(--blue);

// colors
$title-color: #111;
$text-color: var(--white);
$input-placeholder-color: #aaa;
$color-bg: var(--black-bg);
$gradient-bg: radial-gradient(36.02% 50% at 50% 50%, $main-third-color 0%, $color-bg 100%);

// fonts
$font-family-base: 'Inter', sans-serif;
$font-family-custom: 'Arial', sans-serif;
$font-family-unique: 'Times New Roman', serif;

// font-weight
$font-weight-medium: 500;
$font-weight-sbold: 600;

// font-size
$font-size-default: 16px;
$line-height-base: 1.25;

// behavior
$transition-base: all .3s ease 0s;

//Bootstrap var
$enable-shadows: true;
$grid-gutter-width: 40px;
$body-color: $text-color;

$grid-breakpoints: (
        xs: 0,
        sm: 320px,
        md: 767px,
        lg: 920px,
        xl: 1360px,
);

$container-max-widths: (
        sm: 100%,
        md: 100%,
        lg: 1200px,
        xl: 1600px,
);