.faq-section {
  padding: 40px 0;
  background: $gradient-bg;

  &__title {
    margin: 0 0 30px;
  }
  &__content {

  }
  &__block {
    position: relative;
    max-width: 1520px;
    padding: 40px 20px;
    margin: 0 auto;

    &:not(:last-child) {
      margin: 0 auto 20px;
    }

    &-head {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
    }
    &-trigger {
      display: none;
    }
    &-title {
      margin: 0;
      color: $main-second-color;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-body {
      padding: 30px 0 0;
      font-size: 22px;
      line-height: 33px;

      a {
        color: $main-second-color;
      }

      ul {
        list-style: disc;
      }

      &> * {
        margin: 0;

        &:not(:last-child) {
          margin: 0 0 33px;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .faq-section {
    padding: 80px 0;

    &__title {
      margin: 0 0 60px;
    }
    &__block {

      &-trigger {
        position: relative;
        display: block;
        width: 56px;
        height: 56px;
        margin: 0 20px 0 0;
        border-radius: 100%;
        background: #242529;
        cursor: pointer;
        transition: $transition-base;

        &::before, &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          width: 16px;
          height: 2px;
          background: var(--white);
          transform: translate(-50%, -50%);
          transition: $transition-base;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(90deg);
        }
      }

      &.active {
        .faq-section__block-trigger {
          background: $main-second-color;

          &::after {
            transform: translate(-50%, -50%) rotate(0deg);
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .faq-section {
    padding: 140px 0;
  }
}