.commission-section {
  padding: 0 0 40px;

  &__title {}
  &__sub-title {
    max-width: 1140px;
    margin: 0 0 40px;
    font-weight: 400;
  }
  &__content {
    .ui-tabs {
      padding: 0;

      .ui-tabs {
        &-nav {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-content: stretch;
          align-items: stretch;
          gap: 20px;
          padding: 0;
          margin: 0 0 30px;

          &::before, &::after {
            content: none;
          }
        }

        &-tab {
          margin: 0;

          &:nth-child(1) {
            .commission-section__button::before {
              background: url('../img/step_1.png') no-repeat center;
              background-size: contain;
            }
          }
          &:nth-child(2) {
            .commission-section__button::before {
              background: url('../img/step_2.png') no-repeat center;
              background-size: contain;
            }
          }
          &:nth-child(3) {
            .commission-section__button::before {
              background: url('../img/step_3.png') no-repeat center;
              background-size: contain;
            }
          }
          &:nth-child(4) {
            .commission-section__button::before {
              background: url('../img/step_4.png') no-repeat center;
              background-size: contain;
            }
          }

          &.ui-tabs-active {
            .ui-tabs-anchor {
              cursor: auto;
            }

            .commission-section__button::after {
              background: url('../img/tab_active.png') no-repeat center;
              background-size: contain;
            }

            &:hover {
              &::after {
                animation: none;
              }
            }
          }
        }

        &-anchor {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: center;
          align-items: center;
          padding: 0;
          color: $main-second-color;
          font-size: 18px;
          font-weight: 700;

          .commission-section__button {
            position: relative;
            display: inline-flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 8px;
            width: 133px;
            height: 133px;
            margin: 24px 0 0;
            font-size: 24px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            z-index: 0;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 100px;
              height: 100px;
              background-size: contain;
              transform: translate(-50%, -50%);
            }

            &::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 133px;
              height: 133px;
              background: url('../img/tab_normal.png') no-repeat center;
              background-size: contain;
              transform: translate(-50%, -50%);
            }

            &:hover {
              &::after {
                transform: translate(-50%, -50%) rotate(180deg);
                transition: $transition-base;
              }
            }

            & > span {
              color: var(--white);
              font-size: 12px;
              font-weight: 700;
              text-transform: none;
            }

            svg {
              width: 48px;
              height: 48px;
              fill: $main-second-color;
            }
          }
        }

        &-panel {
          padding: 0;
          margin: 0 auto;

          ul {
            list-style: disc;
          }
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .commission-section {
    &__sub-title {}
    &__content {
      .ui-tabs {
        .ui-tabs {
          &-nav {}
          &-tab {
            &::after {
              content: '\1403';
              position: absolute;
              left: 50%;
              bottom: 0;
              opacity: 0;
              visibility: hidden;
              color: $main-second-color;
              font-size: 26px;
              transform: translateX(-50%);
              transition: $transition-base;
            }
            &:hover {
              &::after {
                opacity: 1;
                visibility: visible;
                animation: bottomBounce 1.2s infinite alternate ease-in-out .3s;
              }
            }
            &.ui-tabs-active {
              &::after {
                content: '\25B2';
                opacity: 1;
                visibility: visible;
                transform: translateX(-50%);
              }

              &:hover {
                &::after {
                  animation: none;
                }
              }
            }
          }
          &-anchor {
            .commission-section__button {
              margin: 24px 0 56px;
            }
          }
          &-panel {
            .commission-section__tab-content {
              padding: 0;
              position: relative;
              z-index: 0;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .commission-section {
    &__sub-title {}
    &__content {
      .ui-tabs {
        .ui-tabs {
          &-anchor {}
        }
      }
    }
  }
}