.commission-section {
  padding: 160px 0 140px;
  background: var(--gray-bg);

  &__title {}
  &__sub-title {
    max-width: 1140px;
    margin: 0 auto 80px;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    text-align: center;
  }
  &__content {
    .ui-tabs {
      .ui-tabs {
        &-nav {
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-content: stretch;
          align-items: stretch;
          gap: 40px;
          margin: 0 0 50px;
        }
        &-tab {
          margin: 0;

          &::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 0;
            border-top: 0 solid transparent;
            border: 11px solid transparent;
            border-bottom: 15px solid $main-second-color;
            transform: translateX(-50%) scale(0);
            transition: $transition-base;
          }

          &:nth-child(1) {
            .commission-section__button::before {
              background: url('../img/step_1.png') no-repeat center;
            }
          }
          &:nth-child(2) {
            .commission-section__button::before {
              background: url('../img/step_2.png') no-repeat center;
            }
          }
          &:nth-child(3) {
            .commission-section__button::before {
              background: url('../img/step_3.png') no-repeat center;
            }
          }
          &:nth-child(4) {
            .commission-section__button::before {
              background: url('../img/step_4.png') no-repeat center;
            }
          }

          &.ui-tabs-active {
            .ui-tabs-anchor {
              cursor: auto;
            }
            .commission-section__button::after {
              background: url('../img/tab_active.png') no-repeat center;
            }

            &::after {
              transform: translateX(-50%) scale(1);
            }
          }
        }
        &-anchor {
          display: flex;
          flex-flow: column wrap;
          justify-content: center;
          align-content: center;
          align-items: center;
          padding: 0;
          color: $main-second-color;
          font-size: 28px;
          font-weight: 700;
          line-height: 48px;

          .commission-section__button {
            position: relative;
            display: inline-flex;
            flex-flow: column wrap;
            justify-content: center;
            align-content: center;
            align-items: center;
            width: 266px;
            height: 266px;
            margin: 48px 0 70px;
            font-size: 48px;
            font-weight: 900;
            text-transform: uppercase;
            z-index: 0;

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 200px;
              height: 200px;
              transform: translate(-50%, -50%);
            }
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              left: 50%;
              width: 266px;
              height: 266px;
              background: url('../img/tab_normal.png') no-repeat center;
              transform: translate(-50%, -50%);
            }
            &:hover {
              &::after {
                transform: translate(-50%, -50%) rotate(180deg);
                transition: $transition-base;
              }
            }

            & > span {
              color: var(--white);
              font-size: 16px;
              font-weight: 700;
              text-transform: none;
            }
            svg {
              width: 96px;
              height: 96px;
              fill: $main-second-color;
            }
          }
        }
        &-panel {
          max-width: 1185px;
          padding: 0;
          margin: 0 auto;
          font-size: 22px;
          line-height: 33px;

          ul {
            list-style: disc;
          }

          .commission-section__tab-content {
            padding: 40px 0 0;
            border-top: 1px solid transparent;
            background: linear-gradient(to right, transparent, #F5B832, transparent);
            position: relative;
            z-index: 0;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: var(--gray-bg);
              z-index: -1;
            }
          }

        }
      }
    }
  }
}