.contact-section {
  padding: 140px 0;

  &__title {}
  &__content {
    text-align: center;
  }
  &__sub-title {
    margin: 0 0 20px;
    color: #f79a00;
    font-size: 32px;
    font-weight: 700;
  }
  &__text {
    margin: 0 0 80px;
    font-size: 22px;
  }
  &__form {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;

    .form-group {
      margin: 0 0 56px;
    }

    label {
      margin: 0;
    }

    .form-control {
      width: 100%;

      &:focus {
        background: var(--white);
      }
      &:not(:placeholder-shown) {
        background: var(--white);
      }
    }

    textarea {
      height: 250px;
    }
  }
}