.decor-section {
  min-height: 270px;
  background: $main-third-color;
  z-index: 1;

  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:nth-child(1) {
      img {
        width: 760px;
      }
    }
    &:nth-child(2) {
      img {
        width: 520px;
      }
    }
  }

  .section-bg {
    &__img {
      object-fit: none;
    }
    &::after {
      opacity: 1;
      background: linear-gradient(90deg, rgba(24, 25, 30, 0.60) 0%, transparent 33.33%, transparent 66.67%, rgba(24, 25, 30, 0.60) 100%);;
    }
  }
}

@include media-breakpoint-up(lg) {
  .decor-section {
    min-height: 360px;

    &__image {
      &:nth-child(1) {
        img {
          width: 1010px;
        }
      }
      &:nth-child(2) {
        img {
          width: 692px;
        }
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .decor-section {
    min-height: 480px;

    &__image {
      &:nth-child(1) {
        img {
          width: auto;
        }
      }
      &:nth-child(2) {
        img {
          width: auto;
        }
      }
    }
    .section-bg {
      &__img {
        object-fit: cover;
      }
    }
  }
}