.about-section {
  padding: 40px 0;

  &__title {
    margin: 0 0 40px;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
    gap: 40px;
  }
  &__block {
    position: relative;
    width: 100%;

    &-head {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      margin: 0 0 20px;

      img {
        position: absolute;
        top: 30px;
        left: -140px;
        z-index: -1;
      }
      svg {
        max-width: 150px;
        width: 100%;
        margin-right: 40px;
      }
    }
    &-title {
      margin: 0;
      color: $main-second-color;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-text {
      margin: 0;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
    }
  }
}

@include media-breakpoint-up(lg) {
  .about-section {
    padding: 80px 0;

    &__block {
      &-head {
        margin: 0 0 40px;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .about-section {
    padding: 140px 0;

    &__title {
      margin: 0 0 80px;
    }
    &__block {
      width: 31%;
      max-width: 480px;

      &-head {
        margin: 0;

        img {
          left: -4px;
        }
        svg {
          margin: 0 auto;
        }
      }
      &-title {
        margin: 40px 0;
      }
    }
  }
}