.about-section {
  padding: 0 0 40px;

  &__title {
    margin: 0 0 105px;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
    align-items: stretch;
    gap: 105px;
  }
  &__block {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    width: 100%;

    &-head {
      position: relative;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 128px;
      padding: 14px;
      margin: -80px auto 40px;
      background: linear-gradient(to right, #9c782a 0%,#f5b832 50%,#9c782a 100%);
      border-width: 2px;
      border-radius: 100px;

      &::before {
        border-radius: 100px;
      }

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
      }
      svg {
        width: 96px;
        height: 96px;
      }
    }
    &-title {
      margin: 0 0 20px;
      color: $main-second-color;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
    }
    &-text {
      margin: 0;
      font-weight: 400;
    }
  }
}

@include media-breakpoint-up(lg) {
  .about-section {
    padding: 0 0 62px;
  }
}
@include media-breakpoint-up(xl) {
  .about-section {
    padding: 0 0 82px;

    &__title {
      margin: 0 0 80px;
    }
    &__content {
      gap: 20px;
    }
    &__block {
      width: 31%;
      max-width: 480px;
    }
  }
}