.about-section {
  padding: 140px 0;

  &__title {
    margin: 0 0 80px;
  }
  &__content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: stretch;
    align-items: stretch;
  }
  &__block {
    position: relative;
    width: 33.3%;
    max-width: 480px;

    &-head {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0 0 20px;

      img {
        position: absolute;
        top: 30px;
        left: -4px;
        z-index: -1;
      }
    }
    &-title {
      margin: 0 0 40px;
      color: $main-second-color;
      font-size: 28px;
      font-weight: 700;
      text-transform: uppercase;
    }
    &-text {
      margin: 0;
      font-size: 22px;
      font-weight: 400;
      line-height: 33px;
    }
  }
}