/*************************************************
********************* CONTENT ********************
*************************************************/
.content {
  order: 2;
  -webkit-order: 2;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  width: 100%;
  min-width: 320px;
}

@import "./modules/section-main";
@import "./modules/section-about-us";
@import "./modules/section-decor";
@import "./modules/section-commission";
@import "./modules/section-faq";
@import "./modules/section-reviews";
@import "./modules/section-contact-us";
@import "./modules/modals";