/*************************************************
********************* FOOTER *********************
*************************************************/
footer.footer {
  order: 3;
  -webkit-order: 3;
  position: relative;
  padding: 64px 0;
  background: var(--black);
}

.footer {
  &__content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding: 0 20px;
  }
  &__logo {
    &-wrap {
      margin: 0 0 40px;
    }
  }
  &__navigation {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    padding: 13px 0;
    margin: 0 0 40px;

    &-list {
      display: inline-flex;
      flex-flow: row wrap;
      justify-content: flex-start;
      align-content: center;
      align-items: center;
      gap: 30px;
      padding: 0;
      margin: 0;

      li {}
      a {
        color: $main-second-color;
        font-size: 20px;
        font-weight: 700;
      }

      &:last-child {
        margin-left: auto;
      }
    }
  }
}

.copyright {
  color: #545559;
  font-size: 16px;
}