/*************************************************
********************* HEADER *********************
*************************************************/
header.header {
  order: 1;
  -webkit-order: 1;
  position: fixed;
  min-width: 320px;
  width: 100%;
  z-index: 100;
}

.header   {
  padding: 10px 0;

  &__content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
  }
  &__logo {
    padding: 9px 14px 9px 10px;
    margin-right: auto;

    img {
      width: 200px;
      height: 36px;
    }
  }
  &__navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin-left: 10px;
    order: 1;

    &-burger {
      position: relative;
      width: 32px;
      height: 32px;
      padding: 0;
      background: none;
      border: none;
      overflow: hidden;
      outline: none !important;

      &::before, &::after, span {
        content: '';
        position: absolute;
        left: 50%;
        width: 20px;
        height: 3px;
        background: $main-second-color;
        border-radius: 100px;
        transform: translate(-50%, 0);
        transition: $transition-base;
      }
      &::before {
        top: 9px;
      }
      span {
        top: 50%;
        transform: translate(-50%, -50%);
      }
      &::after {
        bottom: 9px;
      }

      &_active {
        &::before {
          top: 50%;
          transform: translate(-50%, -50%) rotate(-225deg);
        }
        span {
          opacity: 0;
          visibility: hidden;
        }
        &::after {
          top: 50%;
          bottom: auto;
          transform: translate(-50%, -50%) rotate(225deg);
        }
      }
    }
    &-list {
      position: absolute;
      top: 0;
      right: -100%;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-content: stretch;
      align-items: stretch;
      gap: 30px;
      width: 320px;
      padding: 35px 20px 35px 40px;
      margin: 0;
      background: #18191e;
      border: 1px solid #46474B;
      border-radius: 40px;
      opacity: 0;
      visibility: hidden;
      transition: $transition-base;

      &_open {
        top: calc(100% + 12px);
        right: 0;
        opacity: 1;
        visibility: visible;
      }
    }
    &-item {}
    &-link {
      color: $main-second-color;
      font-weight: 700;
    }
  }
  &__right-buttons {}
  &__button {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .header {
    &__navigation {
      padding: 17px 24px;
      margin: 0 10px 0 0;
      order: 0;

      &-burger {
        display: none;
      }
      &-list {
        position: static;
        flex-direction: row;
        align-content: center;
        align-items: center;
        gap: 32px;
        width: auto;
        padding: 0;
        background: none;
        border: none;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}