<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container-fluid">
            <div class="header__content">
                <div class="header__logo nav-blur-style">
                    <a href="#main-section" class="header__logo-link">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="" title="">
                        </picture>
                    </a>
                </div>

                <nav class="header__navigation nav-blur-style">
                    <ul class="header__navigation-list">
                        <li class="header__navigation-item"><a href="#about-us-section" class="header__navigation-link">About</a></li>
                        <li class="header__navigation-item"><a href="#commission-section" class="header__navigation-link">Commission</a></li>
                        <li class="header__navigation-item"><a href="#faq-section" class="header__navigation-link">FAQ</a></li>
                        <li class="header__navigation-item"><a href="#reviews-section" class="header__navigation-link">Reviews</a></li>
                        <li class="header__navigation-item"><a href="#contacts-section" class="header__navigation-link">Contact</a></li>
                    </ul>
                </nav>

                <div class="header__registration-wrap nav-blur-style">
                    <a href="#" class="header__registration">Registration</a>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section id="main-section" class="section main-section">
            <div class="container">
                <div class="main-section__content">
                    <div class="main-section__welcome-text">
                        <h1 class="main-section__title">Partner with Magic, Profit with Mystiwin!</h1>

                        <div class="main-section__indicators">
                            <div class="main-section__indicators-block">
                                <p class="main-section__indicators-title">CPA</p>
                                <p class="main-section__indicators-text">Up to</p>
                                <p class="main-section__indicators-val">50<span>$</span></p>
                            </div>

                            <div class="main-section__indicators-block">
                                <p class="main-section__indicators-title">RevShare</p>
                                <p class="main-section__indicators-text">Up to</p>
                                <p class="main-section__indicators-val">50<span>%</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="main-section__scene">
                        <div id="scene">
                            <picture class="parallax-layer" data-depth="0.1">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/mandala.png') %>" alt="" title="">
                            </picture><!--mandala-->
                            <picture class="parallax-layer" data-depth="0.1">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/money.png') %>" alt="" title="">
                            </picture><!--money-->
                            <picture class="parallax-layer" data-depth="0.2">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/cards.png') %>" alt="" title="">
                            </picture><!--cards-->
                            <picture class="parallax-layer" data-depth="0.3">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/roulette.png') %>" alt="" title="">
                            </picture><!--roulette-->
                            <picture class="parallax-layer" data-depth="0.4">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/chips.png') %>" alt="" title="">
                            </picture><!--chips-->
                            <picture class="parallax-layer" data-depth="0.5">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/dice_01.png') %>" alt="" title="">
                            </picture><!--dice 1-->
                            <picture class="parallax-layer" data-depth="0.5">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/dice_02.png') %>" alt="" title="">
                            </picture><!--dice 2-->
                            <picture class="parallax-layer" data-depth="0.6">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/stars_all.png') %>" alt="" title="">
                            </picture><!--stars-->
                        </div>
                    </div>

                    <div class="main-section__description">
                        <p class="main-section__text"><a href="#">MystiWin</a> is a casino that goes beyond the ordinary. It creates an exclusive community where the chosen reveal their victories. Join us
                            for an enriching experience where mystery and enjoyment take center stage.</p>
                        <p class="main-section__text">At the heart of <a href="#">MystiWin</a> lies a dedication to crafting an immersive and trustworthy gaming sanctuary, a place where players discover the
                            thrill of the unknown and the joy of unraveled secrets. Our vision is to be the beacon of innovation in the gaming industry, offering a platform that
                            constantly evolves and delights our community.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-us-section" class="section about-section">
            <div class="container">
                <h2 class="about-section__title title-section">Who <span>we are</span></h2>

                <div class="about-section__content">
                    <div class="about-section__block">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-lucky"></use>
                            </svg>
                        </div>
                        <p class="about-section__block-title">Reliable Excellence</p>
                        <p class="about-section__block-text">At MystiWin, reliability is more than a promise. It's a commitment etched into every facet of your gaming experience.
                            Our dedication to transparency ensures that you play with confidence, knowing that each spin is supported by swift payouts and unwavering support. Trust
                            is the foundation, built through clear communication, generous rewards, and a steadfast commitment to providing reliable services. MystiWin is your
                            secure haven in the gaming world</p>
                    </div>

                    <div class="about-section__block">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-cherry"></use>
                            </svg>
                        </div>
                        <p class="about-section__block-title">Creative Thrills</p>
                        <p class="about-section__block-text">At MystiWin Casino, creativity is at the core of our approach to gaming. Our dedicated team stays ahead of industry
                            trends, ensuring we bring you the latest and most engaging games. Whether through innovative game features, unique promotional events, or creative
                            collaborations, MystiWin fosters an environment where your gaming experience constantly evolves. We believe that by embracing creativity, we can provide
                            you with an entertaining and dynamic gaming atmosphere that goes beyond the ordinary</p>
                    </div>

                    <div class="about-section__block">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-crown"></use>
                            </svg>
                        </div>
                        <p class="about-section__block-title">Extensive Experience</p>
                        <p class="about-section__block-text">We take pride in our wide selection of services and features, always looking to expand and enhance your gaming
                            experience. Your feedback is the compass guiding our growth. Share your opinions, desires, and suggestions, and become a vital part of our journey as we
                            continually broaden our offerings to surpass your expectations. MystiWin Casino invites you to embark on an exclusive, thrilling adventure where
                            fortunes are revealed, innovation thrives, and your gaming preferences are at the forefront. Your presence completes the narrative, making MistyWin not
                            just a casino but your extraordinary pathway to gaming delight</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section decor-section">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/money-bg.png') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <picture class="decor-section__image">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/decor_slot.png') %>" alt="" title="">
            </picture>

            <picture class="decor-section__image">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/decor_stars.png') %>" alt="" title="">
            </picture>
        </section>

        <section id="commission-section" class="section commission-section">
            <div class="container">
                <h2 class="commission-section__title title-section">commission <span>plans</span></h2>
                <p class="commission-section__sub-title text-center">Any of the commission plans is a subject to an individual alignment. You should contact our affiliate managers
                    in order to negotiate the conditions of collaboration and sign up a partnership agreement with us</p>

                <div class="commission-section__content">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">
                                CPA
                                <span class="commission-section__button"><span>Up to</span> 50$</span>
                            </a></li>

                            <li><a href="#tabs-2">
                                RevShare
                                <span class="commission-section__button"><span>Up to</span> 50%</span>
                            </a></li>

                            <li><a href="#tabs-3">
                                Hybrid
                                <span class="commission-section__button">rs+<br>cpa</span>
                            </a></li>

                            <li><a href="#tabs-4">
                                Sub-Affiliate
                                <span class="commission-section__button">
                                    <svg><use xlink:href="img/spritemap.svg#sprite-crown-tabs"></use></svg>
                                </span>
                            </a></li>
                        </ul>

                        <div id="tabs-1">
                            <div class="commission-section__tab-content">
                                <p>CPA is a fixed price for every referred player. This price can scale up to $50 depending on the geolocation, quality of traffic, and conditions of getting paid. Player qualification requirements:</p>
                                <ul>
                                    <li>Total deposit sum should comprise at least $5</li>
                                    <li>A new player should make a second deposit in a 5 after registration</li>
                                </ul>
                            </div>
                        </div>
                        <div id="tabs-2">
                            <div class="commission-section__tab-content">
                                <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                            </div>
                        </div>
                        <div id="tabs-3">
                            <div class="commission-section__tab-content">
                                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                            </div>
                        </div>
                        <div id="tabs-4">
                            <div class="commission-section__tab-content">
                                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                                <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                                <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq-section" class="section faq-section">
            <div class="container">
                <h2 class="faq-section__title title-section">FAQ</h2>

                <div class="faq-section__content">
                    <div class="faq-section__block">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">Why should I work with Mystiwin Partners?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Why should I work with Mystiwin Partners? Embark on an adventure with Mystiwin Partners, where <a href="#">your success is our enchantment.</a>
                                Here's what sets us apart in the realm of affiliate programs:</p>

                            <ul>
                                <li>Top-Tier Commissions</li>
                                <li>Promotional Magic</li>
                                <li>Payout Rituals like clockwork</li>
                                <li>Dedicated Support Warlocks</li>
                                <li>Statistical Grimoire</li>
                            </ul>

                            <p>Joining Mystiwin Partners means more
                                than just earning commissions; it’s about becoming a part of a community that values your contribution and
                                supports your prosperity</p>
                        </div>
                    </div>

                    <div class="faq-section__block">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">What model is better Raveshare or CPA?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>
                        </div>
                    </div>

                    <div class="faq-section__block">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">How can I get a higher commission?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>
                        </div>
                    </div>

                    <div class="faq-section__block">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">How often I can get a payout?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>
                        </div>
                    </div>

                    <div class="faq-section__block">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">Where I can see the monthly income?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviews-section" class="section review-section">
            <div class="container">
                <h2 class="review-section__title title-section">Reviews from <span>our clients</span></h2>
                <div class="review-section__content">
                    <!--reviews slider-->
                </div>
            </div>
        </section>

        <section id="contacts-section" class="section contact-section">
            <div class="container">
                <h2 class="contact-section__title">CONTACT <span>US</span></h2>

                <div class="contact-section__content">
                    <p class="contact-section__sub-title">Start making profit with us right now</p>

                    <p class="contact-section__text">After you sign up, our manager will contact you to answer all your questions and help you get started!</p>

                    <form action="" class="contact-section__form"></form>
                </div>
            </div>
        </section>

        <div class="section">
            <div class="container">
                <h2>Section Slider</h2>

                <div class="main-slider swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>

                        <div class="swiper-slide">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="example" title="example">
                            </picture>
                        </div>
                    </div>

                    <div class="swiper-pagination"></div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!--<div class="swiper-scrollbar"></div>-->
                </div>
            </div>
        </div>

        <div class="section">
            <div class="container">
                <h2>Section Pictures</h2>
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/placeholder-img.jpg') %>" alt="loader" title="loader">
                </picture>

                <svg>
                    <use xlink:href="img/spritemap.svg#sprite-ok"></use>
                </svg>
            </div>
        </div>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__logo-wrap">
                    <a href="#" class="footer__logo">
                        <picture>
                            <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="" title="">
                        </picture>
                    </a>
                </div>

                <nav class="footer__navigation">
                    <ul>
                        <li>About</li>
                        <li>Commission</li>
                        <li>FAQ</li>
                        <li>Reviews</li>
                        <li>Contact</li>
                        <li>Terms & Conditions</li>
                    </ul>
                </nav>

                <p class="copyright">Copyright © 2023 All Rights Reserved. MystiPartner is owned and operated by MystiWin LTD</p>
            </div>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>
<!-- BODY END   -->
</body>
</html>
