<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Главная</title>
</head>
<body>
<!-- BODY -->
<div class="main-wrapper">
    <!-- HEADER -->
    <header class="header">
        <div class="container-fluid">
            <nav class="header__content">
                <a href="#main-section" class="header__logo nav-blur-style">
                    <picture>
                        <img src="<%= require('./img/logo.svg') %>" alt="" title="">
                    </picture>
                </a>

                <div class="header__navigation nav-blur-style">
                    <button class="header__navigation-burger"><span></span></button>

                    <ul class="header__navigation-list">
                        <li class="header__navigation-item"><a href="#about-us-section" class="header__navigation-link">About</a></li>
                        <li class="header__navigation-item"><a href="#commission-section" class="header__navigation-link">Commission</a></li>
                        <li class="header__navigation-item"><a href="#faq-section" class="header__navigation-link">FAQ</a></li>
                        <li class="header__navigation-item"><a href="#reviews-section" class="header__navigation-link">Reviews</a></li>
                        <li class="header__navigation-item"><a href="#contacts-section" class="header__navigation-link">Contact</a></li>
                        <li class="header__navigation-item d-xl-none"><a href="#" class="header__navigation-link" data-toggle="modal" data-target="#registrationModal">Registration</a></li>
                        <li class="header__navigation-item d-xl-none"><a href="#" class="header__navigation-link" data-toggle="modal" data-target="#signinModal">Sign in</a></li>
                    </ul>
                </div>

                <div class="header__right-buttons nav-blur-style d-none d-md-block">
                    <a href="#" class="header__button btn btn-primary" data-toggle="modal" data-target="#registrationModal">Registration</a>
                    <!--<button type="button" class="header__button btn btn-primary" data-toggle="modal" data-target="#signinModal"><span>Sign in</span></button>-->
                </div>
            </nav>
        </div>
    </header>
    <!-- HEADER END -->

    <!-- CONTENT -->
    <main class="content">
        <section id="main-section" class="section main-section">
            <div class="container">
                <div class="main-section__content">
                    <div class="main-section__scene">
                        <div id="scene">
                            <picture class="parallax-layer" data-depth="0.1">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/mandala_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/mandala_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/mandala.png') %>" alt="" title="">
                            </picture><!--mandala-->
                            <picture class="parallax-layer" data-depth="0.1">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/money_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/money_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/money.png') %>" alt="" title="">
                            </picture><!--money-->
                            <picture class="parallax-layer" data-depth="0.2">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/cards_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/cards_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/cards.png') %>" alt="" title="">
                            </picture><!--cards-->
                            <picture class="parallax-layer" data-depth="0.3">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/roulette_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/roulette_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/roulette.png') %>" alt="" title="">
                            </picture><!--roulette-->
                            <picture class="parallax-layer d-none d-xl-block" data-depth="0.4">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/chips.png') %>" alt="" title="">
                            </picture><!--chips-->
                            <picture class="parallax-layer" data-depth="0.5">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/dice_01_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/dice_01_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/dice_01.png') %>" alt="" title="">
                            </picture><!--dice 1-->
                            <picture class="parallax-layer" data-depth="0.5">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/dice_02_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/dice_02_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/dice_02.png') %>" alt="" title="">
                            </picture><!--dice 2-->
                            <picture class="parallax-layer" data-depth="0.6">
                                <source media="(min-width: 1360px)" srcset="<%= require('./img/stars_xl.png') %>">
                                <source media="(min-width: 920px)" srcset="<%= require('./img/stars_lg.png') %>">
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/stars.png') %>" alt="" title="">
                            </picture><!--stars-->
                        </div>
                    </div>

                    <div class="main-section__welcome-text">
                        <h1 class="main-section__title">Partner with Magic, Profit with Mystiwin!</h1>

                        <div class="main-section__indicators">
                            <div class="main-section__indicators-block">
                                <p class="main-section__indicators-title">CPA</p>
                                <p class="main-section__indicators-text">Up to</p>
                                <p class="main-section__indicators-val">50<span>$</span></p>
                            </div>

                            <div class="main-section__indicators-block">
                                <p class="main-section__indicators-title">RevShare</p>
                                <p class="main-section__indicators-text">Up to</p>
                                <p class="main-section__indicators-val">50<span>%</span></p>
                            </div>
                        </div>
                    </div>

                    <div class="main-section__description">
                        <p class="main-section__text"><a href="#">MystiWin</a> is a casino that goes beyond the ordinary. It creates an exclusive community where the chosen reveal
                            their victories. Join us
                            for an enriching experience where mystery and enjoyment take center stage.</p>
                        <p class="main-section__text">At the heart of <a href="#">MystiWin</a> lies a dedication to crafting an immersive and trustworthy gaming sanctuary, a place
                            where players discover the
                            thrill of the unknown and the joy of unraveled secrets. Our vision is to be the beacon of innovation in the gaming industry, offering a platform that
                            constantly evolves and delights our community.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="about-us-section" class="section about-section">
            <div class="container">
                <h2 class="about-section__title title-section">Who <span>we are</span></h2>

                <div class="about-section__content">
                    <div class="about-section__block content-style">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-lucky"></use>
                            </svg>
                            <p class="about-section__block-title">Reliable Excellence</p>
                        </div>
                        <p class="about-section__block-text">At MystiWin, reliability is more than a promise. It's a commitment etched into every facet of your gaming experience.
                            Our dedication to transparency ensures that you play with confidence, knowing that each spin is supported by swift payouts and unwavering support. Trust
                            is the foundation, built through clear communication, generous rewards, and a steadfast commitment to providing reliable services. MystiWin is your
                            secure haven in the gaming world</p>
                    </div>

                    <div class="about-section__block content-style">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-cherry"></use>
                            </svg>
                            <p class="about-section__block-title">Creative Thrills</p>
                        </div>

                        <p class="about-section__block-text">At MystiWin Casino, creativity is at the core of our approach to gaming. Our dedicated team stays ahead of industry
                            trends, ensuring we bring you the latest and most engaging games. Whether through innovative game features, unique promotional events, or creative
                            collaborations, MystiWin fosters an environment where your gaming experience constantly evolves. We believe that by embracing creativity, we can provide
                            you with an entertaining and dynamic gaming atmosphere that goes beyond the ordinary</p>
                    </div>

                    <div class="about-section__block content-style">
                        <div class="about-section__block-head">
                            <picture>
                                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/lights.png') %>" alt="" title="">
                            </picture>
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-crown"></use>
                            </svg>
                            <p class="about-section__block-title">Extensive Experience</p>
                        </div>

                        <p class="about-section__block-text">We take pride in our wide selection of services and features, always looking to expand and enhance your gaming
                            experience. Your feedback is the compass guiding our growth. Share your opinions, desires, and suggestions, and become a vital part of our journey as we
                            continually broaden our offerings to surpass your expectations. MystiWin Casino invites you to embark on an exclusive, thrilling adventure where
                            fortunes are revealed, innovation thrives, and your gaming preferences are at the forefront. Your presence completes the narrative, making MistyWin not
                            just a casino but your extraordinary pathway to gaming delight</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section decor-section">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/money_xl.png') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <picture class="decor-section__image">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/decor_slot.png') %>" alt="" title="">
            </picture>

            <picture class="decor-section__image">
                <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/decor_stars.png') %>" alt="" title="">
            </picture>
        </section>

        <section id="commission-section" class="section commission-section">
            <div class="container">
                <h2 class="commission-section__title title-section">commission <span>plans</span></h2>
                <p class="commission-section__sub-title text-center">Any of the commission plans is a subject to an individual alignment. You should contact our affiliate managers
                    in order to negotiate the conditions of collaboration and sign up a partnership agreement with us</p>

                <div class="commission-section__content">
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">
                                CPA
                                <span class="commission-section__button"><span>Up to</span> 50$</span>
                            </a></li>

                            <li><a href="#tabs-2">
                                RevShare
                                <span class="commission-section__button"><span>Up to</span> 50%</span>
                            </a></li>

                            <li><a href="#tabs-3">
                                Hybrid
                                <span class="commission-section__button">rs+<br>cpa</span>
                            </a></li>

                            <li><a href="#tabs-4">
                                Sub-Affiliate
                                <span class="commission-section__button">
                                    <svg><use xlink:href="img/spritemap.svg#sprite-crown-tabs"></use></svg>
                                </span>
                            </a></li>
                        </ul>

                        <div id="tabs-1">
                            <div class="commission-section__tab-content">
                                <p>CPA is a fixed price for every referred player. This price can scale up to $50 depending on the geolocation, quality of traffic, and conditions
                                    of getting paid. Player qualification requirements:</p>
                                <ul>
                                    <li>Total deposit sum should comprise at least $5</li>
                                    <li>A new player should make a second deposit in a 5 after registration</li>
                                </ul>
                            </div>
                        </div>
                        <div id="tabs-2">
                            <div class="commission-section__tab-content">
                                <p>RaveShare is a fair and transparent commission plan based on the number of new players you refer to our online casinos monthly. We offer a
                                    lifetime commission - up to 50% of the total Net Gaming Revenue. Truly mystic conditions! We calculate your RevShare according to the formula:
                                    NGR = ((100% - admin fee) x (bets - wins -bonuses)) x RevShare %; Admin Fees = License fee + games provider fee + platform fee</p>
                            </div>
                        </div>
                        <div id="tabs-3">
                            <div class="commission-section__tab-content">
                                <p>The Hybrid plan is a combination of CPA and RevShare where the standard commission is calculated as follows: $25 CPA + 25% RevShare. The minimal
                                    deposit for getting the CPA part is $5</p>
                            </div>
                        </div>
                        <div id="tabs-4">
                            <div class="commission-section__tab-content">
                                <p>Mystipartners is rich for opportunities in affiliate business. With our Sub-Affiliate program, you can earn by engaging new partners to work with
                                    us. The basic rate comprises up to 5% of the income generated by the Partners you invited. You can track the efficiency of your Sub-Affiliate
                                    program in your dashboard by monitoring detailed statistics of your performance. The data can be filtered by dates, invites, and Sub-Affiliates.
                                    We help you to attract new Partners by providing specially designed promotional materials which you can find in the dashboard</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="faq-section" class="section faq-section">
            <div class="container">
                <h2 class="faq-section__title title-section">FAQ</h2>

                <div class="faq-section__content">
                    <div class="faq-section__block content-style active">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">Why should I work with Mystiwin Partners?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Why should I work with Mystiwin Partners? Embark on an adventure with Mystiwin Partners, where <a href="#">your success is our enchantment.</a>
                                Here's what sets us apart in the realm of affiliate programs:</p>

                            <ul>
                                <li>Top-Tier Commissions</li>
                                <li>Promotional Magic</li>
                                <li>Payout Rituals like clockwork</li>
                                <li>Dedicated Support Warlocks</li>
                                <li>Statistical Grimoire</li>
                            </ul>

                            <p>Joining Mystiwin Partners means more
                                than just earning commissions; it’s about becoming a part of a community that values your contribution and
                                supports your prosperity</p>
                        </div>
                    </div>

                    <div class="faq-section__block content-style">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">What model is better Raveshare or CPA?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>
                        </div>
                    </div>

                    <div class="faq-section__block content-style">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">How can I get a higher commission?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>
                        </div>
                    </div>

                    <div class="faq-section__block content-style">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">How often I can get a payout?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                            </ul>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>
                        </div>
                    </div>

                    <div class="faq-section__block content-style">
                        <div class="faq-section__block-head">
                            <span class="faq-section__block-trigger"></span>
                            <p class="faq-section__block-title">Where I can see the monthly income?</p>
                        </div>
                        <div class="faq-section__block-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet assumenda cupiditate deleniti dicta esse, hic maiores minus mollitia nemo optio
                                soluta tempora velit? Animi cumque dolore dolorem eaque error hic, nobis! Architecto et itaque libero nemo nihil similique voluptatibus.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aliquam blanditiis cum dolor doloremque enim exercitationem expedita id in
                                libero maiores minus placeat quas quasi quibusdam quos tempore ut voluptas!</p>

                            <ul>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                                <li>Lorem ipsum.</li>
                                <li>Lorem ipsum dolor sit.</li>
                                <li>Lorem ipsum dolor sit amet, consectetur.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="reviews-section" class="section review-section">
            <div class="container">
                <h2 class="review-section__title title-section">Reviews from <span>our clients</span></h2>

                <div class="review-section__content">
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="review-section__entry content-style">
                                    <svg class="review-section__entry-quote">
                                        <use xlink:href="img/spritemap.svg#sprite-quote"></use>
                                    </svg>

                                    <p class="review-section__entry-text">We at Online Casino Zed have just begun our partnership with King Billy brand, and at the beginning, we
                                        can say that King Billy casino is a great brand with awesome options for Canadian players. Highly recommended!We at Online Casino Zed have
                                        just begun our partnership with King Billy brand, and at the beginning, we can say that King Billy casino is a great brand with awesome
                                        options for Canadian players. Highly recommended!</p>

                                    <picture class="review-section__entry-logo">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review_logo_01.png') %>" alt="" title="">
                                    </picture>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="review-section__entry content-style">
                                    <svg class="review-section__entry-quote">
                                        <use xlink:href="img/spritemap.svg#sprite-quote"></use>
                                    </svg>

                                    <p class="review-section__entry-text">Met Max from King Billy at one of the iGaming conferences, and decided to start and promote their casino
                                        right
                                        away at good positions, as i had a great feeling it would perform very well</p>

                                    <picture class="review-section__entry-logo">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review_logo_02.png') %>" alt="" title="">
                                    </picture>
                                </div>
                            </div>

                            <div class="swiper-slide">
                                <div class="review-section__entry content-style">
                                    <svg class="review-section__entry-quote">
                                        <use xlink:href="img/spritemap.svg#sprite-quote"></use>
                                    </svg>

                                    <p class="review-section__entry-text">We at Online Casino Zed have just begun our partnership with King Billy brand, and at the beginning, we
                                        can say that King Billy casino is a great brand with awesome options for Canadian players. Highly recommended!We at Online Casino Zed have
                                        just begun our partnership with King Billy brand, and at the beginning, we can say that King Billy casino is a great brand with awesome
                                        options for Canadian players. Highly recommended!</p>

                                    <picture class="review-section__entry-logo">
                                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/review_logo_01.png') %>" alt="" title="">
                                    </picture>
                                </div>
                            </div>
                        </div>

                        <div class="swiper-nav">
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
                        </div>

                        <!--<div class="swiper-scrollbar"></div>-->
                    </div>
                </div>
            </div>
        </section>

        <section id="contacts-section" class="section contact-section">
            <div class="section-bg">
                <picture>
                    <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/map.svg') %>" class="section-bg__img" alt="" title="">
                </picture>
            </div>

            <div class="container">
                <h2 class="contact-section__title title-section">CONTACT <span>US</span></h2>

                <div class="contact-section__content">
                    <p class="contact-section__sub-title">Start making profit with us right now</p>

                    <p class="contact-section__text">After you sign up, our manager will contact you to answer all your questions and help you get started!</p>

                    <form action="" method="post" class="contact-section__form">
                        <div class="form-group">
                            <label class="w-100">
                                <input type="text" class="form-control" placeholder="Name">
                                <span class="contact-section__support-text"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="w-100">
                                <input type="email" class="form-control" placeholder="Email">
                                <span class="contact-section__support-text"></span>
                            </label>
                        </div>

                        <div class="form-group">
                            <label class="w-100">
                                <textarea class="form-control" placeholder="Text"></textarea>
                            </label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-lg text-uppercase">
                            Send a message
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow-r"></use>
                            </svg>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <!-- CONTENT END -->

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <nav class="footer__content">
                <a href="#main-section" class="footer__logo">
                    <picture>
                        <img src="<%= require('./img/default.svg') %>" data-src="<%= require('./img/logo.svg') %>" alt="" title="">
                    </picture>
                </a>

                <div class="footer__navigation">
                    <ul class="footer__navigation-list">
                        <li><a href="#about-us-section">About</a></li>
                        <li><a href="#commission-section">Commission</a></li>
                        <li><a href="#faq-section">FAQ</a></li>
                        <li><a href="#reviews-section">Reviews</a></li>
                        <li><a href="#contacts-section">Contact</a></li>
                    </ul>

                    <ul class="footer__navigation-list">
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>

                <p class="copyright">Copyright © 2023 All Rights Reserved. MystiPartner is owned and operated by MystiWin LTD</p>
            </nav>
        </div>
    </footer>
    <!-- FOOTER END -->
</div>

<div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="signinModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <form action="" method="post">
                    <label class="form-group w-100">
                        <span class="input-label">Login</span>
                        <input type="text" class="form-control" placeholder=" ">
                        <span class="input-text"></span>
                    </label>

                    <label class="form-group w-100">
                        <span class="input-label">Password</span>
                        <input type="password" class="form-control" placeholder=" ">
                        <span class="input-text"></span>
                    </label>

                    <div class="d-flex flex-column flex-wrap align-content-center align-items-center">
                        <a href="#" data-toggle="modal" data-target="#resetPassModal">Forgot your password?</a>
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase">
                            Sign in
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow-r"></use>
                            </svg>
                        </button>
                        <a href="#" data-toggle="modal" data-target="#registrationModal">Registration</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="resetPassModal" tabindex="-1" aria-labelledby="resetPassModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body">
                <form action="" method="post">
                    <label class="form-group w-100">
                        <span class="input-label">Login</span>
                        <input type="text" class="form-control" placeholder=" ">
                        <span class="input-text"></span>
                    </label>

                    <label class="form-group w-100">
                        <span class="input-label">Email</span>
                        <input type="email" class="form-control" placeholder=" ">
                        <span class="input-text"></span>
                    </label>

                    <div class="d-flex flex-column flex-wrap align-content-center align-items-center">
                        <button type="submit" class="btn btn-primary btn-lg text-uppercase">
                            Reset password
                            <svg>
                                <use xlink:href="img/spritemap.svg#sprite-arrow-r"></use>
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade registration-modal" id="registrationModal" tabindex="-1" aria-labelledby="registrationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="modal-body">
                <form action="" method="post" class="registration-form">
                    <div class="row">
                        <div class="col-12 col-xl-6">
                            <fieldset>
                                <p class="registration-form__title-group">Username and password</p>

                                <label class="form-group w-100">
                                    <span class="input-label">Login *</span>
                                    <input type="text" class="form-control" placeholder=" ">
                                    <span class="input-text"></span>
                                </label>

                                <label class="form-group w-100">
                                    <span class="input-label">Password *</span>
                                    <input type="password" class="form-control" placeholder=" ">
                                    <span class="input-text"></span>
                                </label>

                                <label class="form-group w-100">
                                    <span class="input-label">Re-enter your password *</span>
                                    <input type="password" class="form-control" placeholder=" ">
                                    <span class="input-text"></span>
                                </label>
                            </fieldset>

                            <fieldset>
                                <p class="registration-form__title-group">Additional information</p>

                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Website *</span>
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Site category *</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Preferred language *</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">How did you find us?</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>

                        <div class="col-12 col-xl-6">
                            <fieldset>
                                <p class="registration-form__title-group">Contact details</p>

                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">First name *</span>
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Surname *</span>
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="input-text"></span>
                                        </label>
                                    </div>
                                </div>

                                <label class="form-group w-100">
                                    <span class="input-label">Email *</span>
                                    <input type="email" class="form-control" placeholder=" ">
                                    <span class="input-text"></span>
                                </label>

                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Messenger</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Messenger username</span>
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Country *</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <div class="form-group w-100">
                                            <label for="phone" class="input-label">Phone number</label>
                                            <div class="phone-input-container">
                                                <input type="tel" id="phone" name="phone" class="form-control" placeholder=" " required>
                                                <input type="hidden" id="countryCode" name="countryCode">
                                            </div>
                                            <span class="input-text"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <p class="registration-form__title-group">Payment details</p>

                                <div class="form-row">
                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">Preferred payout method *</span>
                                            <select class="select2 js-example-placeholder-single" style="width: 100%">
                                                <option>Select ...</option>
                                                <option value="01">option 01</option>
                                                <option value="02">option 02</option>
                                                <option value="03">option 03</option>
                                                <option value="04">option 04</option>
                                                <option value="05">option 05</option>
                                            </select>
                                            <span class="input-text"></span>
                                        </label>
                                    </div>

                                    <div class="col-12 col-md-6">
                                        <label class="form-group w-100">
                                            <span class="input-label">User account *</span>
                                            <input type="text" class="form-control" placeholder=" ">
                                            <span class="input-text"></span>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>


                        <div class="col-12">
                            <div class="registration-form__footer">
                                <p class="form-text">The https://mystipartner.com/ website is used in accordance with the <a href="#">Mystipartner Terms and Conditions</a> and <a href="#">Mystipartner
                                    Privacy Policy</a><br> The personal data that you supply when registering on this website may be shared with the Mystiwin affiliate companies in
                                    different countries and third parties rendering services to Mystiwin</p>

                                <label class="form-group">
                                    <input type="checkbox">
                                    <span class="checkbox">
                                    <span class="checkbox__style">
                                        <svg><use xlink:href="img/spritemap.svg#sprite-access"></use></svg>
                                    </span>
                                    <span class="checkbox__text">I have read, understood and accept the above Terms and Conditions and Privacy Policy</span>
                                </span>
                                </label>

                                <div class="d-flex flex-column flex-wrap align-content-center align-items-center">
                                    <button type="submit" class="btn btn-primary btn-lg text-uppercase">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- BODY END   -->
</body>
</html>